.wallet-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: rgba(78, 63, 170, 0.5);
}

.wallet-header * {
  margin: 10px;
}

.total-price-BRL {
  display: flex;
}

.wallet {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}
